<form method="POST" enctype="multipart/form-data">

Subject:
<select name="subject">
<option>Algorithms</option>
<option>Machine Learning</option>
<option>DBMS</option>
</select>

Topic:
<input type="text" name="topic">

Question Image:
<input type="file" name="question">

Option 1: <input type="text" name="option1">
Option 2: <input type="text" name="option2">
Option 3: <input type="text" name="option3">
Option 4: <input type="text" name="option4">

Correct Answer:
<input type="text" name="answer">

<button type="submit">Upload</button>

</form>