<!DOCTYPE html>
<html>
<head>

<title>{{ topic }} Lectures</title>

<style>

.container{
display:flex;
gap:30px;
}

.player{
flex:3;
}

.list{
flex:1;
background:#f5f5f5;
padding:15px;
border-radius:10px;
}

.list button{
display:block;
width:100%;
margin:8px 0;
padding:10px;
cursor:pointer;
}

</style>

</head>

<body>

<h2>{{ topic }} Lectures</h2>

<div class="container">

<div class="player">

{% if videos %}

{% if videos %}

<iframe id="videoPlayer"
width="700"
height="400"
src="{{ videos[0][1] }}"
frameborder="0"
allowfullscreen>
</iframe>

{% else %}

<p>No lecture videos available for this topic yet.</p>

{% endif %}

{% else %}

<p>No lectures added yet.</p>

{% endif %}
</div>

<div class="list">

{% for v in videos %}

<button onclick="changeVideo('{{ v[1] }}')">

{% if v[0] in completed %}
✓ {{ v[0] }}
{% else %}
{{ v[0] }}
{% endif %}

</button>

<form method="POST" action="/complete_lecture">

<input type="hidden" name="subject" value="{{ subject }}">
<input type="hidden" name="topic" value="{{ topic }}">
<input type="hidden" name="title" value="{{ v[0] }}">

<button type="submit" style="background:#4CAF50;color:white;">
Mark Completed
</button>

</form>

{% endfor %}
</div>

</div>

<script>

function changeVideo(url){
document.getElementById("videoPlayer").src = url;
}

</script>
<script>

let startTime = Date.now();

window.addEventListener("beforeunload", function () {

    let endTime = Date.now();

    let minutes = Math.floor((endTime - startTime) / 60000);

    if(minutes > 0){

        fetch("/update_study_time", {
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body: JSON.stringify({minutes:minutes})
        });

    }

});

</script>

</body>
</html>